{% extends 'base.html' %}
<title>{% block title %}home{% endblock %}</title>

{% block content %}
<style>/*
.like-btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}
.like-btn:hover {
color: yellow;
}*/

a,button {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}
</style>

<div  class="container mt-3">
<h4 style=color:blue>Home Page</h4>
{% if posts %}
 {% for post in posts %}
<div class="post">
  <h3>{{ post.title }}</h3>
  <img src="{{post.image.url}}" alt="image" />
  <p>{{ post.content }}</p>
  <p>Author: {{ post.author }}</p>
  <p>Date: {{ post.created_at }}</p>
</div> 
<form action="{% url 'like_post' post.id %}" method="post" novalidate>
  {% csrf_token %}
  {% if user_id %}
  {% if post.title in liked_list %}
  <button class="btn btn-dark" class="like-btn" type="submit">Dislike</button>
  {% else %}
  <button class="btn btn-info"  class="like-btn" type="submit">Like</button>
  {% endif %}
  {% else %}
  <button class="btn btn-primary"  class="like-btn" type="submit">Like</button>
  {% endif %}
  <p>Likes: {{ post.likes.count }}</p>

  {% if post.author.user == user %}
  <a href="{% url 'delete_post' post.id %}" data-inline="true" class="btn btn-danger">Delete</a>
  {% endif %}
</form>
{% endfor %} 
{% else %}
<p>No posts found.</p>
{% endif %} 
</div>
{% endblock %}
